# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Entornos virtuales
env/
venv/

# Configuración del editor
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.bak

# Bases de datos
DataBase/*.db
